<!DOCTYPE html>
<html>
<meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
<head>
    <title>Index</title>
</head>

<body>
    <h1> Bollinger Advice </h1>
    <img src="{{url_for('static', filename='band.png')}}" align="middle" />
    <p> Our advice is that you should:  {{ var }}  </p>
</body>

</html>